.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.subContainer {
  width: 250px;
  height: 300px;
  padding: 30px;
  background-color: #6272a4;
  border-radius: 8px;
}

.subContainer input {
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  padding: 3px;
}

.subContainer button {
  margin-top: 50px;
  color: white;
  border: none;
  background-color: dodgerblue;
  border-radius: 5px;
  padding: 5px
}

.subContainer .text {
  margin-top: 20px
}